--find-links https://download.openmmlab.com/mmcv/dist/cu121/torch2.1/index.html
mmcv==2.1.0; python_version >= "3.11"
mmsegmentation==1.2.2; python_version >= "3.11"
ftfy==6.1.3; python_version >= "3.11"